# NDBC Statistics

This notebook contains code used to view, manipulate, and analyze buoy data from buoys stationed in the Great Lakes and connected to the NDBC network

### Initial Workflow
Find buoy of interest in [NDCB Map](https://www.ndbc.noaa.gov/) --> In historical data, find the year of interest in the standard meteoroligical data category (note Great Lakes buoys do not collect spectral wave data) --> Save the .txt file and name it using the convention "exampleplace_year.txt" --> Using excel, convert exampleplace_year.txt to a .csv and replace all 99.00 values with NaN --> Load "exampleplace_year.csv" into pandas and display output to make sure it loaded correctly.

In [2]:
import pandas as pd

muskegon_2020 = pd.read_csv("muskegon_2020.csv")
muskegon_2020

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18
0,#YY,MM,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
1,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,mi,ft
2,2020,08,13,16,30,260,1.5,1.9,0.11,2.46,NaN,93,1020.6,22.8,22.5,18.1,99.0,NaN
3,2020,08,13,16,40,282,1.9,2.3,0.35,5.22,NaN,195,1020.6,22.6,22.3,18.3,99.0,NaN
4,2020,08,13,16,50,268,1.9,2.3,0.14,NaN,NaN,109,1020.6,22.7,22.2,18.4,99.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14265,2020,11,22,16,10,130,4.3,5.7,0.34,2.60,NaN,180,1024.0,3.6,8.9,0.7,99.0,NaN
14266,2020,11,22,16,20,130,3.7,4.9,0.37,2.37,NaN,190,1023.8,4.0,8.9,0.8,99.0,NaN
14267,2020,11,22,16,30,129,3.4,4.6,0.35,2.40,NaN,190,1023.7,4.3,8.9,1.0,99.0,NaN
14268,2020,11,22,16,40,135,3.5,5.1,0.39,2.63,NaN,181,1023.7,4.4,8.9,1.0,99.0,NaN
14269,2020,11,22,16,50,137,3.3,4.8,0.37,2.52,NaN,187,1023.5,4.6,8.9,1.0,99.0,NaN

### Remove Irrelvant Data

In [7]:
muskegon_2020.drop[[5,6,7,13,14,15,16,17], axis == 1, inplace == True] # There must be a better way to index through these
muskegon_2020

NameError: name 'axis' is not defined